[2017-04-08 02:28] barryross commented on #692
@leobardoramon Hey Leo, I think by the end of April should be do-able for DEVN-0005 excluding #661.  That being said, I'm refraining from including #693 and #695 in that estimate b/c I am still working on gauging scale/scope.  I do feel a bit blocked moving forward on a number of the current issues...when you can, can you please have a look at the comments/questions in GH?  I'll make sure I've ass

[2017-04-09 20:37] leobardoramon commented on #661
@barryross , yes, please wait. I should have mockups for you in the next couple of days.  Thanks for your continued patience

[2017-04-09 20:44] leobardoramon commented on #692
Yes , @barryross , I understand . I'm going over GH issues now.

[2017-04-09 20:54] leobardoramon commented on #691
@barryross , can we go over this the next time we meet? @buck0land , maybe you know something about this?

[2017-04-09 21:04] leobardoramon commented on #697
@barryross , oh yes, they did.  @buck0land , is this something that we can look over with Barry this week?

[2017-04-09 21:13] leobardoramon commented on #693
@barryross , I owe you some snapshots of the layouts for each service ( since each services table content will vary )

[2017-04-09 21:14] leobardoramon commented on #693
@barryross , would you like me to create an issue for each service?

[2017-04-10 00:22] leobardoramon commented on #695
@barryross

i ) Yes

ii ) Yes ( upon completion of #694 )

and technically, that is correct ( the best kind of correct )

[2017-04-10 05:09] barryross commented on #693
Yes, please…thank you!

[2017-04-10 05:11] barryross commented on #680
@leobardoramon hey, no problem and right back at you..just seeing this now ! : ( Could we please meet Friday am this week to discuss?   Perhaps 10am PST?

[2017-04-10 05:11] barryross commented on #692
@leobardoramon great, thanks!

[2017-04-10 16:04] leobardoramon commented on #680
On Fridays I'm unavailable 8am-5pm pst

On Apr 10, 2017 01:11, "Barry Ross" <notifications@github.com> wrote:

[2017-04-12 01:43] barryross commented on #695
great, thanks!

[2017-04-12 01:46] barryross commented on #680
How about Thursday...11am PST?

[2017-04-12 02:24] leobardoramon commented on #680
Thank you for your flexibility.

Yes.

On Apr 11, 2017 21:46, "Barry Ross" <notifications@github.com> wrote:

How about Thursday...11am PST?

wrote:

Friday

680#issuecomment-292851232>,

ACEMJAynH1eAUD1xr23o7l9Q88udkxC9ks5rubnwgaJpZM4LqFRc>

codetodesign/NYUAMS/issues/680#issuecomment-292996176>, or mute the thread <
https://github.com/notifications/unsubscribe-auth/
ACLQw2KpGWymG8SDt42zfvOt3pCVC

[2017-04-12 02:59] barryross commented on #695
great, thanks!  Okay, so I think that to really tackle this issue, we need to look at adding the ability to add multiple parts to existing orders.  This is similar to #694, but I believe not identical.

[2017-04-12 03:09] barryross commented on #680
great, you’re welcome!

[2017-04-14 14:09] leobardoramon commented on #691
@barryross needs access the master privilege "events"
@buck0land , please see the following image:
<img width="684" alt="screen shot 2017-04-13 at 11 36 01 am" src="https://cloud.githubusercontent.com/assets/2165796/25045439/66ebba6c-20fa-11e7-9606-efa29ec27ac8.png">

[2017-04-14 14:09] NYU-AMS commented on #691
https://dev.mysql.com/doc/refman/5.7/en/create-event.html

On Fri, Apr 14, 2017 at 10:09 AM, leobardoramon <notifications@github.com>
wrote:

--
------------------------------------
Andrew Buckland
Technical lead, LaGuardia Studio (LGS)
Senior Advanced Media Specialist
Academic Technology Services, IT

New York University
545 Laguardia Place
New York, New York 10012

Phone:(212)998-3610
email: and

[2017-04-14 14:11] leobardoramon commented on #690
@barryross , Projet 660 = Zprinter 650 , please change to "Binder Jet"

[2017-04-14 14:26] leobardoramon opened #699 "New Order WIZ - multiple parts for existing orders"
@barryross this is an issue that relates to two existing issues in the #R2 workload,

 - #695 ( existing order radio button in New Order WIZ , panel 2 - select service type [or previous order] )
 - #694 ( multiple parts for orders )

We need these two features to work together.

Barry , please add this to your quote

[2017-04-14 14:31] leobardoramon opened #700 "Queue page - Proper table data per service"
@andrew, please review the Orders/parts tables for all services.  let us know what you would like moved over to the Queue page for each service.  Each service's table data will be assigned a unique issue in GitHub.

![tables_order_parts](https://cloud.githubusercontent.com/assets/2165796/25046070/58620f8e-20fd-11e7-9605-4223bc9ca848.png)

[2017-04-14 14:32] leobardoramon commented on #693
@barryross , just want to double-check that the task for this issue is clear - RE distinction between Testing v. Ready

[2017-04-14 14:34] leobardoramon commented on #686
@barryross , please follow link to view video walkthrough ( 2:01 ):
https://drive.google.com/open?id=0B_9JEK6SVk1bSlphWllzcXZSMnM

[2017-04-14 14:46] leobardoramon commented on #661
@barryross , please see revised mockups for Device FDM:

![selfservice](https://cloud.githubusercontent.com/assets/2165796/25046470/a591731a-20ff-11e7-9030-4fa44ff10a8a.png)
![selfservice_selected](https://cloud.githubusercontent.com/assets/2165796/25046471/a5937296-20ff-11e7-9621-03af924a08ab.png)

[2017-04-14 14:49] leobardoramon commented on #661
image 1 of 2
![selfservice_](https://cloud.githubusercontent.com/assets/2165796/25046554/04e8a716-2100-11e7-8a43-cbc082ad35f9.png)

[2017-04-14 14:50] leobardoramon commented on #661
image 2 of 2
![selfservice_](https://cloud.githubusercontent.com/assets/2165796/25046586/3af3d45c-2100-11e7-9c35-814b4e7d1b27.png)

[2017-04-14 14:51] leobardoramon commented on #661
@barryross please see images above

[2017-04-14 17:03] barryross commented on #693
@leobardoramon thanks, Leo.  Yup, it is clear and it sounds like the glitch I noticed where the appropriate radios aren't selected when opening the wizard is potentially a new issue, but not part of the current one.

[2017-04-14 17:16] barryross commented on #699
@leobardoramon sure thing

[2017-04-14 18:47] barryross commented on #661
@leobardoramon for devices like "Connex", the different materials have different prices.  For FDM, it looks like only changing the "Tip" affects the prices when doing "DropOff", correct?

[2017-04-15 01:09] barryross commented on #661
thank you!

[2017-04-15 01:10] barryross commented on #690
thank you, will do!

[2017-04-15 03:07] barryross commented on #697
@leobardoramon Leo, just wanted to follow up on this..I tried swapping in my Gmail credentials and am still encountering the auth error.  @leobardoramon we spoke about setting me up with an @codetodesign.com email, but the strange thing is that it looks like it was previously using Gmail server anyways.

What server is being used in `db/settings.json` on the live server? ~ around line 24?

[2017-04-15 03:16] barryross commented on #690
@leobardoramon I believe I have resolved this issue!

Relevant commit:
https://github.com/codetodesign/NYUAMS/commit/603eacb56b4a94de6c3ca7b653dc26f340890d75

<img width="1430" alt="screen shot 2017-04-14 at 8 11 40 pm" src="https://cloud.githubusercontent.com/assets/2281667/25060307/a5502578-214e-11e7-9a67-192f4bc6cede.png">
<img width="1440" alt="screen shot 2017-04-14 at 8 11 45 pm" src="https:

[2017-04-15 04:03] barryross commented on #686
@leobardoramon After following your video, I am still seeing all metrics as "0".  Do you know why that is?

<img width="1440" alt="screen shot 2017-04-14 at 9 01 58 pm" src="https://cloud.githubusercontent.com/assets/2281667/25060597/c85d35ea-2155-11e7-8893-11f7d7337834.png">
<img width="1082" alt="screen shot 2017-04-14 at 9 02 39 pm" src="https://cloud.githubusercontent.com/assets/2281667/250605

[2017-04-18 23:47] barryross commented on #693
@leobardoramon Okay, I've been working on this one today and actually am running into something I wasn't expecting.  My understanding of where we left off on this one was that I should just keep things they way they are in terms of the "bulk updating" and focus on just the labels.

So, my thinking was that if currently the entire order is updated when a single part is updated, we'll keep it that w

[2017-04-28 20:20] barryross commented on #694
@leobardoramon Okay, I believe I have this working for 3D Parts.  Can you please watch the video and confirm this is what you are looking for?

Video Demo
https://www.dropbox.com/s/s6vobvkrxwnuuvv/%23694.mov?dl=0

[2017-05-01 02:19] barryross commented on #694
@leobardoramon couple things that I don't believe were covered in the scope of the issue, but seem like they could be important.  Can you please let me know if these need to be added to the current estimate/scope of work?

- Enforcing a maximum number of parts
- Allowing users the ability to edit individual parts of multi-part orders
- Allowing users the ability to remove individual parts of multi

[2017-05-01 11:23] NYU-AMS commented on #694
Yes they are important. Leo let's review this

-Andrew

Sent from my iPhone

[2017-05-01 21:06] leobardoramon commented on #692
@barryross , I know you're deep in code... can you be available this week for a quick chat?

I would like to give @nyuams a status update by Friday of this week

[2017-05-05 21:50] barryross commented on #694
@leobardoramon Okay, I have an update for multi-parts for new orders!  This has been quite a bit more complicated than I had anticipated, but I believe we are there!

https://www.dropbox.com/s/e91rod1ilz4tjfg/694-multi-part2.mov?dl=0

[2017-05-05 22:05] barryross commented on #694
## Part numbering fixed on Wide Format

<img width="477" alt="screen shot 2017-05-05 at 2 59 17 pm" src="https://cloud.githubusercontent.com/assets/2281667/25765726/491a4ef4-31a3-11e7-890b-a65f5a65de4b.png">

## Hidden display of previous parts

<img width="522" alt="screen shot 2017-05-05 at 3 00 35 pm" src="https://cloud.githubusercontent.com/assets/2281667/25765892/3abe0c5a-31a4-11e7-92d2-db0f0

[2017-05-05 22:42] barryross commented on #694
@leobardoramon can you please let me know if feature-wise, this looks ready for testing?

[2017-05-10 01:04] leobardoramon commented on #693
it is my understanding that the status should only change for the selected part. I discussed this with @buck0land ,

@barryross , can you please create a new issue for this?

[2017-05-22 19:16] barryross opened #701 "Orders -> Parts -> Updated Invoice to reflect part removal(s)"
Invoices should get updated/re-generated when when part(s) are removed from current orders:

<img width="1223" alt="screen shot 2017-05-22 at 12 16 38 pm" src="https://cloud.githubusercontent.com/assets/2281667/26324645/748d42ba-3ee8-11e7-9854-72244d5b1ee9.png">

[2017-05-24 21:23] barryross commented on #694
@leobardoramon Okay!  Multiple quantity is currently not working for New Orders or Additional parts, but other than that, I believe we are good to go!

Available for testing on `contractor_barry`!!!

[2017-05-26 00:37] leobardoramon commented on #661
@buck0land , can you please clarify if/how Column A & Column B relate to each other?  See below:
<img width="1417" alt="9332effa-1632-11e7-99d7-0273a885c014" src="https://cloud.githubusercontent.com/assets/2165796/26476040/e9ab3824-4189-11e7-9c53-07db8f2ce38d.png">

[2017-05-26 01:49] NYU-AMS commented on #661
A is the size in inches of each tip.

Sent from my iPhone

[2017-05-26 02:16] leobardoramon commented on #661
Great. So it seems like the only missing piece we need to account for is the list of Tray Size options.

@buck0land , can you please provide that?

[2017-05-26 22:23] barryross commented on #661
@NYU-AMS @leobardoramon thanks for clarification on this!

[2017-05-27 00:17] barryross commented on #661
@leobardoramon  Are there a set of values for Cost per cartridge and grams per cartridge?

[2017-05-27 00:21] barryross commented on #661
@leobardoramon Will these cost vary for each material? Or is this a global value for all materials for FDM?

<img width="496" alt="screen shot 2017-05-26 at 5 21 10 pm" src="https://cloud.githubusercontent.com/assets/2281667/26516228/a5b6f3e8-4237-11e7-894c-daf9f0efcfba.png">

[2017-05-27 00:23] barryross commented on #661
@leobardoramon Will these cost vary for each support material? Or is this a global value for all materials for FDM and would be set globally in a panel like the above?

<img width="592" alt="screen shot 2017-05-26 at 5 21 14 pm" src="https://cloud.githubusercontent.com/assets/2281667/26516248/f9e890d4-4237-11e7-9bbb-bc8d5e5ab3ea.png">

[2017-05-27 00:32] leobardoramon commented on #661
@barryross Cost will vary and may change ; they should all be editable

[2017-05-27 00:44] barryross commented on #661
@leobardoramon  but does the same number apply to all the different materials, or does the cost/cubic inch need to be editable on a per-material basis?

[2017-05-27 01:26] leobardoramon commented on #661
@barryross  Editable per material

[2017-05-29 01:09] barryross commented on #661
@leobardoramon okay, thanks!

[2017-06-02 00:40] barryross commented on #661
@leobardoramon
I am trying to understand how I should populate the "tips" list on the FDM order form.  Here is a screenshot from the current prototype I'm putting together.

As I understand it, when a user selects a particular **material**, this will alter which **support** options appear in the list (based off of the selections in the admin panel).

Should this also dictate which **tip** options

[2017-06-05 00:47] barryross commented on #694
@gosha1128 I was working on resolving an issue related to getting HU to work in conjunction with multiple parts.  My solution involved commenting out/bypassing (see attached) some of the "HU" -specific code, and factoring the static "HU" price into the total cost like we're doing with other parts.

I can't see any obvious consequences of doing this, but wanted to run it past you to see if I'm over

[2017-06-05 00:50] barryross commented on #694
@leobardoramon Hey, It is a bit tricky getting the back button to work in the context of multiple quantities (with the new way of doing it), so I have currently disabled it in the wizard.  Thoughts?

[2017-06-05 00:55] leobardoramon commented on #661
Yes, I'm guessing that from the New Order Wizard , the user will select:

1. material
a. tip
b. support
 - i. tip

@buck0land does this seem correct?

[2017-06-05 01:03] leobardoramon commented on #694
@buck0land , @barryross

What do you think about a "redo" button vs. a "back" button ?

the redo button would null the most recently suggested part ( and any of its quantities )

[2017-06-05 02:44] gosha1128 commented on #694
Everything looks good.

Just make sure to test all scenarios that go through that code path.

You'll just want to convince yourself you didn't inadvertently break
something that worked before :)

George

On Sun, Jun 4, 2017 at 8:47 PM, Barry Ross <notifications@github.com> wrote:

[2017-06-05 13:33] NYU-AMS commented on #661
yes that is correct

On Sun, Jun 4, 2017 at 8:55 PM, leobardoramon <notifications@github.com>
wrote:

--
------------------------------------
Andrew Buckland
Technical lead, LaGuardia Studio (LGS)
Senior Advanced Media Specialist
Academic Technology Services, IT

New York University
545 Laguardia Place
New York, New York 10012

Phone:(212)998-3610
email: andrew.buckland@nyu.edu
http://www.nyu.edu/

[2017-06-06 18:45] barryross commented on #694
Thanks, George…will do and I agree!

Thanks,
Barry

[2017-06-08 00:32] barryross commented on #661
@leobardoramon  @gosha1128 The following page has been created https://github.com/codetodesign/NYUAMS/wiki/Devices#zprinter to help solidify the scope of this Issue and identify the best dev approach.

The general takeaway is that although some of the foundation UI "looks like" the other printer , that Zprinter has the clearest file layout and we've determined this is the best device to base `FDM`

[2017-06-08 00:34] leobardoramon commented on #661
yes , based on the cross-reference comparison we went through , zprinter's file layout is the clearest to follow.  What do you think @gosha1128 ?

[2017-06-08 00:38] barryross commented on #661
@leobardoramon can you please confirm the "legend" descriptions are accurate at https://github.com/codetodesign/NYUAMS/wiki/Devices

[2017-06-08 00:40] leobardoramon commented on #661
Yes , the legend is correct .

[2017-06-08 00:42] barryross commented on #661
thanks

[2017-06-08 00:58] gosha1128 commented on #661
Yes I agree.

On Wed, Jun 7, 2017 at 8:34 PM leobardoramon <notifications@github.com>
wrote:

[2017-06-08 02:05] leobardoramon opened #703 "Test Case : Queue / 3D Scan / Part Status Update"
When updating the status of a 3d scan part ( for any device ) to "Final Complete" , there is some interesting bugginess : (1) the file upload panel does not appear ; (2) the status is not updated ; (3) the part remain in the table ( as a consequence of "(2)" I'm sure ) ; (4) as you scroll down the page , you will notice the file upload UI has somehow embedded itself on the Queue page.

See video (

[2017-06-08 02:05] leobardoramon commented on #703
<img width="1400" alt="screen shot 2017-06-07 at 10 05 21 pm" src="https://user-images.githubusercontent.com/2165796/26909229-6f9f03c8-4bcd-11e7-9f98-554602cf38e1.png">

[2017-06-12 20:46] barryross commented on #661
@gosha1128 great, thanks George!

[2017-06-12 20:47] barryross commented on #661
@leobardoramon  @gosha1128  In creating the new device, I chose "Epson".  Does this make sense or should I add another parameter type option to the list to choose?
<img width="606" alt="screen shot 2017-06-12 at 1 48 17 pm" src="https://user-images.githubusercontent.com/2281667/27054391-9585f56e-4f75-11e7-87b1-52896c2d751c.png">

[2017-06-13 18:23] leobardoramon commented on #661
@barryross , this is not the expected dropdown results ; typically the dropdown would list the existing devices and mimic the respective parameters for the chosen device

@buck0land , it seems like we have a opportunity to maybe do things a little different . where should we go from here?

[2017-06-14 15:12] leobardoramon commented on #661
@barryross , < @NYU-AMS staff > Tatiana found an issue in Multi-part RP server when choosing between devices.

See video : https://drive.google.com/open?id=0B_9JEK6SVk1bME95UjR6SEFQX1E

[2017-06-14 19:23] leobardoramon commented on #691
I'm trying to change the Event Scheduler Configuration to "ON" using mysql instructions from here :
https://dev.mysql.com/doc/refman/5.7/en/events-configuration.html

see screenshot :
<img width="1236" alt="screen shot 2017-06-14 at 3 13 55 pm" src="https://user-images.githubusercontent.com/2165796/27150470-64587c36-5115-11e7-97e5-d59893f82de1.png">

I'm running into :
ERROR 1227 (42000): Access d

[2017-06-14 19:44] barryross commented on #661
@leobardoramon Okay, I see what you are talking about when creating a new 3D device...it seems like RP has been setup differently then, as nonce of the RP devices are showing

[2017-06-14 19:46] leobardoramon commented on #661
... oops ... @barryross the above issue that Tatiana found was meant for #694

[2017-06-14 19:47] leobardoramon commented on #694
Removing this issue from #661 :

@barryross , < @NYU-AMS staff > Tatiana found an issue in Multi-part RP server when choosing between devices.

See video : https://drive.google.com/open?id=0B_9JEK6SVk1bME95UjR6SEFQX1E

[2017-06-14 19:49] barryross commented on #661
@leobardoramon np...it's a great catch by her...this was actually an issue I opened earlier in the year separate from multi-part https://github.com/codetodesign/NYUAMS/issues/676

[2017-06-14 19:52] leobardoramon commented on #690
@barryross , I'm still noticing the old device names for RP service .

See screenshot :

<img width="1459" alt="screen shot 2017-06-14 at 3 50 25 pm" src="https://user-images.githubusercontent.com/2165796/27151707-72330890-5119-11e7-92a2-4656c18d9728.png">

[2017-06-14 19:54] leobardoramon commented on #694
The above issue discovered by Tatiana is the same issue as #676

Thanks , @barryross

[2017-06-14 19:55] barryross commented on #690
@leobardoramon can you please follow the steps listed here , beneath 4/6/17 ? :https://github.com/codetodesign/NYUAMS/wiki/MySQL-Changes

[2017-06-14 19:56] barryross commented on #694
@leobardoramon welcome !

[2017-06-14 20:05] leobardoramon commented on #690
AhA!  Thanks @barryross !

see screenshot:
<img width="1106" alt="screen shot 2017-06-14 at 4 04 14 pm" src="https://user-images.githubusercontent.com/2165796/27152247-3eed68c0-511b-11e7-98c9-7d72ba85abdc.png">

[2017-06-14 20:24] barryross commented on #690
welcome!

[2017-06-14 22:59] barryross commented on #661
@gosha1128 @leobardoramon  If I want to make schema changes in the code, what is the easiest way for me to ensure they are reflected in the db?  Is there a "switch" I need to flip prior to restarting the server?

I feel like it's going to be one of these?

<img width="695" alt="screen shot 2017-06-14 at 4 01 22 pm" src="https://user-images.githubusercontent.com/2281667/27158179-78c29db4-511a-11e7-

[2017-06-14 23:01] barryross commented on #661
@gosha1128 and why are these in the code if devices get added manually from the `admin` tab ?

<img width="737" alt="screen shot 2017-06-14 at 4 02 46 pm" src="https://user-images.githubusercontent.com/2281667/27158206-b07f7b78-511a-11e7-8d4b-d56f88e5e47d.png">

[2017-06-14 23:43] barryross commented on #661
@gosha1128 I am reviewing the interactive prototype I made for FDM, current database tables/schemas, and thinking through the best way to move forward.  Can you please let  me know your thoughts on the following approach I am thinking of?

Simply put, data from panels on the left would be in `Globals`, and data from tables on the right in `Rapid Materials`

<img width="1235" alt="screen shot 2017-

[2017-06-15 00:47] gosha1128 commented on #661
I think I put schema updates in the code.  Look for ALTER string in all the
JS files.

Going forward I would recommend a more industry standard approach like
migrations.

G

On Wed, Jun 14, 2017 at 7:43 PM Barry Ross <notifications@github.com> wrote:

[2017-06-15 01:58] barryross commented on #661
@gosha1128 okay, thanks!

[2017-06-15 03:59] gosha1128 commented on #661
One of the challenges will be to make sure the sequelize mappings match
with your schema changes.  But you probably knew this already :)

On Wed, Jun 14, 2017 at 9:58 PM, Barry Ross <notifications@github.com>
wrote:

[2017-06-15 14:09] leobardoramon commented on #694
@buck0land , this issue is ready for you to test .

This is the script that Tatiana used for testing yesterday from the DEV machine :
https://docs.google.com/a/codetodesign.com/document/d/1Eso7I7W0m1yVnuIXFOk4SAef7KJLFe3Qa8UuDfQkPNk/edit?usp=drivesdk

[2017-06-15 16:27] barryross commented on #661
I have taken your suggestion and started working with db-migrate.  My thought is to keep all the code-based queries in tact, and once those run, I will check & run the migrations on server startup.

In your comment above, are you just referring to me not changing a schema that you have created that code is relying upon?

I am planning on only adding new tables, as well as columns to existing table

[2017-06-15 17:14] buck0land commented on #694
Looks good to me.

[2017-06-15 17:17] NYU-AMS opened #704 "Sweet Zombie is showing in Queues"
Sweet Zombie is showing in Queues tab.

[2017-06-15 19:41] gosha1128 commented on #661
Yes exactly.

On Thu, Jun 15, 2017 at 1:09 PM Barry Ross <notifications@github.com> wrote:

[2017-06-16 20:31] barryross commented on #661
@gosha1128 great, thanks!

[2017-06-17 02:02] leobardoramon commented on #661
@buck0land , I'm looking at the cost formula for FDM with @barryross

...It was my understanding that Support would have its own Tip , independent from the Material Tip ...
the confusion for us is that we do not see the Support Tip being accounted for in the formula provided above

either (a) we were mistaken in thinking that the user would select a separate Tip for Support in the New Order WIZ or

[2017-06-19 12:12] buck0land commented on #661
The support tips do not change the cost. It's information only for us.

Sent from my iPhone

[2017-06-19 14:04] leobardoramon commented on #661
Thank you @buck0land

@barryross , I just discussed this with Andrew ...

The Support Tip data still needs to be implemented into Admin and New Order WIZ ;

however , that particular piece of data does not affect the price , therefore , it is not shown in the calculator formula .

The Support Tip data will still need to be shown in the Part Details Table .  does this make sense ?

[2017-06-21 19:52] barryross commented on #661
@leobardoramon thank you, Leo.  I think it makes sense...do I have this correct?

ADMIN PANEL
1) admin can manage list of available tips (add/edit/remove)
2)  admin can assign any number of these tips to a particular non-support material
3) admin can assign any number of these tips to a particular support material

NEW ORDER WIZARD
- user selects material
- user selects material tip (list based of

[2017-06-21 19:54] barryross commented on #661
@leobardoramon  Assuming the above is correct, admin panel is available to test on `contractor_barry`.  By default, both materials (support and non-support) are not assigned particular tips or supports the first time the server is run (with the latest updates).  They would need to be manually associated at this time (through the admin panel), but future server restarts should not affect those conn

[2017-06-29 19:18] leobardoramon commented on #661
@buck0land :

we are working through testing for the Admin portion of this feature .

@barryross , this is the latest error I'm receiving from the Terminal side :
<img width="1250" alt="screen shot 2017-06-29 at 10 48 53 am" src="https://user-images.githubusercontent.com/2165796/27706087-026bb446-5cc5-11e7-8e42-8838ffcb12c8.png">

[2017-07-01 19:23] leobardoramon commented on #661
@barryross ,

is this something that needs to change for QA ?

See screenshot:
<img width="589" alt="screen shot 2017-07-01 at 12 05 56 pm" src="https://user-images.githubusercontent.com/2165796/27764823-05468b84-5e58-11e7-92c0-750a304d207f.png">

[2017-07-01 19:38] leobardoramon commented on #661
@barryross , I followed all of the commands from the "DB & Server Changes" wiki :

https://github.com/codetodesign/NYUAMS/wiki/DB-&-Server-Changes

I ran the "reboot" command and logged back in ... after running the commands :

I ran into the following error message :

<img width="1010" alt="screen shot 2017-07-01 at 12 33 14 pm" src="https://user-images.githubusercontent.com/2165796/27764921-de3d

[2017-07-02 18:19] barryross commented on #661
@leobardoramon regarding the `ENV_TEST=apple`...that line can be removed.  As for the error above, please try running

`npm install mysql --save` and restarting

Thank you for your patience with this process!

[2017-07-03 00:25] leobardoramon commented on #661
et voilà , it works !

<img width="1430" alt="screen shot 2017-07-02 at 5 18 52 pm" src="https://user-images.githubusercontent.com/2165796/27774679-71ee985a-5f4b-11e7-8c61-c24aa6dc9c28.png">
<img width="616" alt="screen shot 2017-07-02 at 5 21 57 pm" src="https://user-images.githubusercontent.com/2165796/27774680-71ee767c-5f4b-11e7-966a-b832aa0361c7.png">

[2017-07-06 21:50] barryross commented on #661
@leobardoramon  awesome!

[2017-08-21 19:15] leobardoramon opened #710 "TC : Admin/rapid/FDM/Add Rapid Material"
Rapid Material is added as a Support ;

Work around (1) check and uncheck Support checkbox when creating a material (2) Update material once created and uncheck Support Checkbox

See video : https://drive.google.com/open?id=0B_9JEK6SVk1bdjBaYXluQzluWGc

[2017-08-21 20:09] leobardoramon opened #711 "TC : Orders/RP/FDM - Self-service pricing"
Issue with pricing calculator

See screenshots :

<img width="670" alt="screen shot 2017-08-21 at 4 06 20 pm" src="https://user-images.githubusercontent.com/2165796/29536229-01bb528c-868b-11e7-9a1a-ea04c5d43930.png">
<img width="666" alt="screen shot 2017-08-21 at 4 06 26 pm" src="https://user-images.githubusercontent.com/2165796/29536230-01f05734-868b-11e7-97d8-aebc4c9d0e18.png">
<img width="645"

[2017-08-21 20:20] leobardoramon opened #712 "TC : Orders/RP/FDM/Self-Service - Invoice content"
Can we add a note or desrciption stating that this was a self - service option ?

Can we also add the Tray / Day amounts ?

<img width="817" alt="screen shot 2017-08-21 at 4 18 13 pm" src="https://user-images.githubusercontent.com/2165796/29536629-9f5b6fda-868c-11e7-9dff-90ae531979a1.png">

[2017-08-21 20:22] leobardoramon opened #713 "TC : Orders/RP/FDM - Invoice Content"
Can we add data for (1) Tip , (2) Support , (3) Support Tip , (4) Tray

See Screenshot :
<img width="810" alt="screen shot 2017-08-21 at 4 18 42 pm" src="https://user-images.githubusercontent.com/2165796/29536716-e4a28af6-868c-11e7-86a3-bdf964b8463c.png">

[2017-08-21 21:02] leobardoramon opened #714 "TC : Orders/RP/FDM/Add Part - using old data"
When adding a new part for FDM , the system is carrying over data from last part created in the system ( data does not necessarily originate from same order ) ...

even after data has been changed and order is created , the system is still using those old parameters to calculate price

see video here : https://drive.google.com/open?id=0B_9JEK6SVk1bSkdDakVSS2RwaTA

[2017-09-21 23:05] leobardoramon opened #715 "MySQL Table Checks - Broken"
The table Checks is broken in PRODSQL5

I think that instead of clearing table data ( only ) that the whole table was cleared .

 ... I'm hoping we can copy the same table from QASQL and just replace the broken table

 ... Otherwise we can restore the DB using a snapshot .

[2017-09-22 04:56] leobardoramon commented on #715
fixed

[2017-09-25 16:07] leobardoramon commented on #715
This issue is not fixed ...

@barryross , can you please vet this issue ?

1 . Admin/accounts/Bulk Check Generator

2 . after generating bulk checks for a given account , the check "counter" should reset ; this will start the check number back to "1" at the beginning of each school year .

3 . right now , the system is giving us the popup "check already used" ... this is happening after we've crea

[2017-10-09 16:04] leobardoramon opened #716 "TC: Orders/<bottom menu> Part Calculator - closes"
part calculator closes -- before / instead of calculating price

see video here : https://drive.google.com/open?id=0B_9JEK6SVk1bdkw0OWptMW5FcGc

@buck0land , please give priority

[2017-10-12 19:19] leobardoramon opened #717 "TC : Orders/New Order WIZ ( WF ) - pricing inconsistencies"
There are pricing inconsistencies for identical parts with identical parameters .

This issues occurs when

(a) adding new , identical parts to an order with files of the same size
(b) updating an existing part with identical dimensions

see video here : https://drive.google.com/open?id=0B_9JEK6SVk1bTy1OSHY1RlZEQnM

[2017-10-12 20:06] leobardoramon commented on #717
A new facet of this issue has become visible :

File uploader has uploaded a single file multiple times ( at least 42 times )

See attached screenshot :

![screen shot 2017-10-12 at 3 20 58 pm](https://user-images.githubusercontent.com/2165796/31516645-42f02138-af67-11e7-91c9-badf5d9189e2.png)

[2017-10-12 22:24] leobardoramon commented on #717
here's a link to gDrive (a) video attempts to reproduce and (b) files used when encountering file issue - that may or may not be related to the WF calculator issue :

https://drive.google.com/open?id=0B_9JEK6SVk1bdXB6LVY5Q21OZGM

[2017-10-13 00:21] barryross commented on #717
@leobardoramon when do we want x to be 42 and when do we want it to be 58?  This is related to the inconsistent prices we are seeing.

<img width="691" alt="screen shot 2017-10-12 at 5 20 14 pm" src="https://user-images.githubusercontent.com/2281667/31524951-b80307b0-af71-11e7-97e2-97b9c5307ecc.png">

[2017-10-13 01:58] leobardoramon commented on #717
@barryross , we want "x" to be 42 whenever the "short" dimension of a Wide Format part is equal to or less than 42 inches ... we want "x" to be 58 when the "short" dimension of a part is greater than 42 inches ( but never more than 58 inches )

[2017-10-13 16:41] barryross commented on #717
@leobardoramon so does it still have something to do with "a" and "b" ?

[2017-11-27 15:59] leobardoramon opened #718 "TC: New Order/WF/Multi-Part/ ~file uploader~ file name error"
- @barryross , can you please look into this issue ?

 - Is this issue related to the open issue , #699 , Multiple parts for existing orders ?

Issue : File Naming Error

Related To : #neworderwizard #fileuploader #wideformatservice #invoicepdf #

When using the **New Order Wizard** to create multiple parts for any type of **Wide Format Order** , the name from the first file gets carried over to a

[2017-11-27 16:00] leobardoramon commented on #718
@barryross , we will send you the new IP addresses for the two DEV servers sometime today for vetting .  Please let us know your availability for this week / next week .

[2017-11-27 16:03] leobardoramon commented on #718
![screen shot 2017-11-27 at 10 17 33 am](https://user-images.githubusercontent.com/2165796/33276104-87b05d3c-d362-11e7-8928-157955cd1a31.png)
![screen shot 2017-11-27 at 10 18 00 am](https://user-images.githubusercontent.com/2165796/33276105-87be3bfa-d362-11e7-86ad-690520583869.png)
![screen shot 2017-11-27 at 10 19 23 am](https://user-images.githubusercontent.com/2165796/33276106-87c69106-d362-11

[2017-11-29 19:59] barryross commented on #718
Yes, this sounds like it may be a bug from the work on multiple parts for new orders, or perhaps something to be tackled in the multiple parts for existing orders.   My availability is a bit tight this week, but can definitely put it on my agenda for early next week if that works for you guys?

[2017-12-01 22:59] barryross commented on #693
@leobardoramon Hey...just realized I never responded to your request for the new issue above.  I assume you would still like the bug on queue to be a separate issue?

[2017-12-01 22:59] barryross commented on #693
@leobardoramon awesome, will address via the Orders portal.  Great call.

[2017-12-20 01:14] barryross commented on #697
@leobardoramon has this continued to be an issue or does this seem to be resolved from your end?

[2017-12-27 23:13] barryross commented on #715
@leobardoramon Hey, I think we pushed a fix for this in early October.  Can you please remind me if this is resolved or if it is still open? Thanks!

[2017-12-27 23:32] barryross commented on #697
@leobardoramon I believe this is now resolved
<img width="815" alt="screen shot 2017-12-27 at 3 22 43 pm" src="https://user-images.githubusercontent.com/2281667/34395939-d52b45d0-eb19-11e7-972b-59151eb7612d.png">

<img width="966" alt="screen shot 2017-12-27 at 3 30 59 pm" src="https://user-images.githubusercontent.com/2281667/34396047-0cfc69e8-eb1b-11e7-92f1-376a4c5c7350.png">

<img width="980" a

[2017-12-28 01:32] barryross commented on #693
@leobardoramon for the PaperType issue, it's much easier to add the column to all services and to have "n/a" appear, then to only add the "Paper Type" column to WF services.  Does the attached solution work?

<img width="1404" alt="screen shot 2017-12-27 at 5 31 31 pm" src="https://user-images.githubusercontent.com/2281667/34397552-d6796d7e-eb2b-11e7-9f15-456f5d50af89.png">
<img width="1436" alt="

[2017-12-28 01:33] barryross commented on #693
@leobardoramon what should the "active" label read instead in a case like this where the parts have varying status labels?   Or is this an edge case not worth worrying about?
<img width="1064" alt="screen shot 2017-12-27 at 5 33 00 pm" src="https://user-images.githubusercontent.com/2281667/34397585-194a339a-eb2c-11e7-9562-f0326a6e631e.png">

[2017-12-28 01:52] barryross opened #719 "Bulk part status updates"
At one point, @gosha1128 had begun bulk part status updates.  The places this is occurring should be identified, and a decision made as to whether action needs to be taken.  This issue is referenced in the following issue, however I am currently having difficulty replicating the issue.

https://github.com/codetodesign/NYUAMS/issues/693

[2017-12-29 00:48] barryross commented on #685
@leobardoramon Is what I'm picturing here correct?

<img width="1382" alt="screen shot 2017-12-28 at 4 44 07 pm" src="https://user-images.githubusercontent.com/2281667/34426783-f9c9f802-ebee-11e7-85c8-79520600ad4d.png">

[2017-12-29 14:41] buck0land commented on #685
Yes it looks good to me.  Leo is this what your thinking?

Sent from my iPhone

[2017-12-29 20:10] barryross commented on #685
@buck0land thanks, Andrew!

[2017-12-31 14:33] leobardoramon commented on #693
@buck0land , please take a look at the propsed solution in the second to last comment from @barryross

It looks okay to me , not sure if the studio staff will mind the extra field .

[2017-12-31 14:40] leobardoramon commented on #715
This is resolved . We reformatted the duplicate Account that was causing crossing data to break the table.

Thank you

[2017-12-31 14:40] #715 closed

[2017-12-31 14:43] leobardoramon commented on #719
@barryross , let's go over this in our next meeting .

[2018-01-03 02:48] leobardoramon commented on #685
Yes @barryross , this is great .  Thank you !

[2018-01-07 23:34] barryross commented on #685
@leobardoramon awesome, glad to hear! You're welcome!

[2018-01-11 18:46] leobardoramon commented on #693
Okay , @barryross , we're going to work from the Queue page

[2018-01-11 18:56] leobardoramon commented on #685
@barryross ,
1. please add a dropdown ( similar to Admin/rapid ) page for (a) clients (b) colleges
2. you can model the colleges table the same way as the Admin/FDM/"Available Tips","Available Trays" tables ?

@buck0land ,
1. would you like Barry to remove any of the columns that you may not need for Admin/clients table since it's a mirror of the Clients tab ( for faster loading , etc ) ?
2. somet

[2018-01-11 19:01] NYU-AMS commented on #685
You are good to go for removing not needed columns.  do not change the access levels this should be admin only

-Andrew

[2018-01-11 19:19] leobardoramon commented on #691
@barryross , I followed the instructions you have me here :
https://stackoverflow.com/questions/14940910/creating-mysql-events-in-amazon-rds

I hope it works ...

[2018-01-11 19:22] leobardoramon commented on #685
@barryross , go ahead and remove Projects column from Admin/clients table

[2018-01-11 20:02] barryross commented on #686
@leobardoramon I'm wondering if this is just a labeling issue on the metrics, or if the figures themselves are not reflective of Inactive orders?  So, for January, are the "total charges accrued" reflective of both active and inactive?

Would you just like me to add "Inactive Orders" to the top of the table as an additional row?

![screen shot 2018-01-11 at 12 00 20 pm](https://user-images.githubu

[2018-01-18 20:11] barryross commented on #685
@leobardoramon  I would like to try using React as something different on the admin/clients tab: https://reactjs.org/

What do you think?

[2018-01-19 04:01] leobardoramon commented on #685
@barryross , sounds good to me .

@buck0land , what do you think about this ?  Please lmk if you'd like to meet about it .

[2018-01-19 13:13] buck0land commented on #685
Go for it. Is sound good.

Sent from my iPhone

[2018-01-23 19:55] barryross commented on #685
@leobardoramon @buck0land great, thanks guys!

[2018-01-25 19:05] leobardoramon opened #720 "Implement React to Metrics"
@barryross , will you please look into implementing React into the Metrics tab and email me a quote .

[2018-01-29 23:04] barryross commented on #685
@leobardoramon Hey...I have nearly completed that and it is ready for testing on `contractor_barry`.

There is one thing that is not sitting right with me and that is how long it currently takes to load the "admin" tab.  While React is making navigation of the admin -> clients tab very quick, I am currently asking the database for all the clients and all of their projects when we click on the "adm

[2018-01-31 20:13] barryross commented on #720
@leobardoramon yup, will do!

[2018-01-31 20:27] leobardoramon commented on #685
@barryross , can you please look into how much extra work it would be for "c" .

@buck0land has already given the green light for "a" , so we always have the option to fall back on that

[2018-01-31 21:50] barryross commented on #685
@leobardoramon glad we have the green light for "a".  I think it'd probably take 5-10 hours with "c" and the sorting capabilities would be that of what is currently on the "clients" page.  I'm comfortable giving this a shot within the scope of the current issue so we can see what we like best...sound good?

I would be inclined to try using this other table component with it:
 https://ant.design/co

[2018-01-31 23:07] leobardoramon commented on #685
@barryross , yes , do this

[2018-02-03 22:33] barryross commented on #685
@leobardoramon Hey Leo...I didn't end up using the "ant design" one, but I did use the remove/ajax technique.  Please check it out `contractor_barry` !

[2018-02-07 19:19] barryross commented on #720
@leobardoramon can you please explain what the differences are among the following tabs?

Conceptually, how does "studio activity", vary from "university activity" and "dept. activity"?
![image](https://user-images.githubusercontent.com/2281667/35936643-adeeef76-0bf8-11e8-9309-03dc7b37167f.png)

[2018-02-07 19:50] leobardoramon commented on #720
I'm away from my machine ...

If you can upload screenshots of each tab to this GH issue , I can explain
to you each tab's purpose

On Feb 7, 2018 2:19 PM, "Barry Ross" <notifications@github.com> wrote:

[2018-02-07 19:54] barryross commented on #720
great, thanks!

![image](https://user-images.githubusercontent.com/2281667/35938342-9ccc2420-0bfd-11e8-85be-31df86f8b366.png)
![image](https://user-images.githubusercontent.com/2281667/35938344-9f922d4e-0bfd-11e8-9ec2-63d8515b952d.png)

[2018-02-08 20:06] barryross commented on #720
@leobardoramon Hey Leo...if you could please provide me some info on how these tabs are different, it'd help me with the vetting for this issue.  Thanks so much!

[2018-02-12 01:48] leobardoramon commented on #720
the vague answer is :

University Activity Provides totals sorted by Client/"University Status"
Department Activity provides totals sorted by Client/Department

for more *detailed* info please see LGS Fall 2016 Metrics :

https://drive.google.com/open?id=0B_9JEK6SVk1bMVpmSER4cXo2b3c

[2018-02-12 01:50] leobardoramon commented on #720
@barryross , please see comment above .  Thank you for your patience

[2018-02-13 00:52] barryross commented on #720
@leobardoramon this is great, thank you for the above!  You're welcome for my patience!

[2018-02-13 19:16] leobardoramon commented on #685
Hey @barryross  , we found a couple of things :

1 . issues with the LDAP component in
 - Project/New Project WIZ/New Client
 - Clients/New Client PANEL
 - Admin/Client

<img width="581" alt="screen shot 2018-02-13 at 2 02 43 pm" src="https://user-images.githubusercontent.com/2165796/36168675-e23dc45e-10c7-11e8-91c6-ea705e21ce96.png">

2 . issue when switching  dropdown between college and clients

[2018-02-16 01:59] barryross commented on #720
@leobardoramon on the weekly digest...

Say I visit the weekly digest tab on Thursday, Feb 14th.  Can you please specify the date ranges of the data for which the following columns should display?  For example, does the monthly column show all of February?  Or January 14th - Feb 13th ?

1) Weekly column
2) Monthly column

[2018-02-21 00:00] leobardoramon commented on #720
@gosha1128 , we are currently working in Metrics and have a Couple of Questions ...

maybe you can help point us to the answer ...

AREA : Metrics/"Studio Activity"

1 . When (a) an Order with (b) parts from different devices (c) is partially paid (d) how does Metrics know which devices that payment goes to in Metrics ?

2 .  When (a) an Order with (b) parts from different devices and (c) is paid

[2018-02-21 00:04] leobardoramon commented on #720
@barryross , I will find out for you how metrics determines how a Week is defined ( last 7 days v. Su-Sa ) . I believe a month is defined as the Calendar month ( no the last 30 days , but the 1 of the month to the last day of the month ) .

[2018-02-21 00:14] barryross commented on #720
@leobardoramon @buck0land  I have added a date range picker that I was planning on having on the new react-based report pages.  Assuming this date picker appears on the weekly digest tab as well, how should this affect the data displayed in the "weekly", and "monthly" columns?

For example, if I select Feb 10th - Feb 21st...what data would we want in the following locations?

- weekly column
- mon

[2018-02-21 02:02] gosha1128 commented on #720
It iterates orders, then parts in orders...and then calls this magic
function...which further decomposes things by service.

https://github.com/codetodesign/NYUAMS/blob/master/node/ebs/db/metrics.js#L223

On Tue, Feb 20, 2018 at 7:00 PM, leobardoramon <notifications@github.com>
wrote:

[2018-03-06 18:30] barryross commented on #720
@gosha1128 great, thank you!

[2018-03-06 18:32] barryross commented on #720
@buck0land

Hey Andrew, do you like this table system?  I think this will work well for metrics.  Can you please choose "state", then "transaction type", then "business" from the dropdown?   (like the attached)

http://davidguttman.github.io/react-pivot/

We can have predefined sub dimensions so users don’t have to choose them from the dropdowns

![image](https://user-images.githubusercontent.com/

[2018-05-16 03:57] barryross commented on #720
@leobardoramon @buck0land Can you please let me know how "Current Balance" should be calculated for weekly digest?  Specifically, how would you like it to be calculated for "weekly", "monthly", and "yearly"?

[2018-05-16 03:58] barryross commented on #720
<img width="890" alt="screen shot 2018-05-15 at 8 55 03 pm" src="https://user-images.githubusercontent.com/2281667/40095796-b04b6ffc-5882-11e8-844b-8188794b21da.png">

[2018-05-16 16:02] leobardoramon commented on #720
I believe that "Current Balance" should reflect the amount unpaid for active orders ...

However , I'm not sure how Andrew would like this to appear in "Weekly Digest" ...

@buck0land , ...can you please advise ?

[2018-05-16 22:33] barryross commented on #720
@leobardoramon thanks...yah, it seems like to show current balance at this moment, we could simply do charges - payments.

For weekly digest,

Would monthly indicate the total charges - total payments **for that month**?

Same for weekly and yearly?

[2018-05-19 00:29] leobardoramon commented on #720
@buck0land , See videos for today's meeting here :

https://drive.google.com/folderview?id=1d7MFbkLZRdROi8AOnVdMmkezla48Qf_C

[2018-09-17 00:37] leobardoramon opened #722 "Test Case : Orders/Checkout Wizard"
PROD CLONE ENVIRONMENT :

PROD14 : 52.201.165.160
  pem : prodebs2018-07-09
PRODFILES7 : 54.236.17.119
  pem : prodfiles2018-07-09

TEST SCRIPT :

   via Terminal
 - >>node app.js nfs

   via Chrome
   TEST 1

 - Login to database
 - go to Admin/accounts page
 - select a client
 - select Manage Check
 - observe check history : find used check number , find unused check number
 <  eg. "Tisch School

[2018-09-18 02:29] leobardoramon commented on #722
@buck0land  , actually , I was entering the wrong check code ... I'll be in tomorrow morning to connect .

I ran two tests :

I -
 - (a) attempt check out with used check code ( unsuccesful )  ✔️
 - (b) attempt checkout with new check code ( success ) ✔️
 - (c) bulk check generator with a (1) New Grant Account ( Graduate School of Arts and Science (graduate) , Chemistry, Chemistry, PHD [ 375 ] ) (

[2018-09-18 16:08] leobardoramon opened #723 "Test Case : Admin/accounts/Refresh required after using "Bulk Check" generator"
@barryross , can you please look into the simplest solution(s) for the problem we're having here :

Test Script

 - Log into Database
 - Go to Admin/accounts page
 - Select an account
 - Select "Edit Acocunt" button
 - Change the account budget for one or more Service Types
 - Select "OK" button
 - Select "Bulk Checks" button
 - Select "add" button for the account for which the budget was changed

[2018-09-18 16:08] leobardoramon commented on #722
*REFRESH ISSUE*

@barry , the problem what not clear to me , all of the above test scripts are not relevant ,

Please see #723

[2018-09-18 16:08] #722 closed

[2018-09-19 16:40] barryross commented on #722
@leobardoramon okay, thanks for the update!

[2018-09-20 01:49] barryross commented on #723
@leobardoramon Thank you for the detailed reproduction steps above & the video!

I'm actually having trouble replicating the issue on my end (the attached is what I see when I  "Select the "Generate" button", but I've watched the video and understand the issue).

#3...Editing the popup sounds like the simplest solution to me.

[2019-02-14 00:35] leobardoramon opened #724 "Test Case : Orders/"New Order WIZ"/RP/FDM - accepting material less than 1 cu in"
Server : PROD15 / PROD17 ( lgsdb.nyu.edu )

 - log into LGS EBS

 - go to Orders Page

 - launch New Order Wizard

 - select a Project

 - select service type "Rapid Prototype"

 - select device FDM

 - select any material , any support , any support amount , any tray amount

 - for material AMOUNT , enter any quantity that is "less than 1"

 *note* using the format ".1" yields a notification "ple

[2019-02-14 01:17] buck0land commented on #724
Thank you Leo. You have nailed it.

Sent from my iPhone

[2019-02-14 01:34] leobardoramon opened #725 "Test Case: Admin/rapid - add Cost Tier Table"
Server : DEV-prodebs20170930

Please add a Cost Tier Table to Admin/rapid so that the LGS can charge separate rates for example : (A) alumni , (B) students , (C) etc

This table would work in the same way as can be seen in Admin/wide/'Cost Tier" table ( with Cost Tier A and Cost Tier B ; currently used to separate 42" v. 58" wide paper )

see PDF here : https://drive.google.com/open?id=1bB0sn4MZtf

[2019-02-14 01:49] leobardoramon opened #726 "Test Case : Admin - add 3D Scan tab"
Please add "3d scan" tab to Admin page ... it's currently missing

see PDF here : https://drive.google.com/open?id=1J2zHZml5TsvA3QMtcPVvYMXJ7mOZu1pp

[2019-02-14 01:51] leobardoramon opened #727 "Test Case: Admin/tdscan - add Cost Tier Table"
Server : DEV-prodebs20170930

Please add a Cost Tier Table to Admin/tdscan so that the LGS can charge separate rates for example : (A) alumni , (B) students , (C) etc

This table would work in the same way as can be seen in Admin/wide/'Cost Tier" table ( with Cost Tier A and Cost Tier B ; currently used to separate 42" v. 58" wide paper )

see PDF here : https://drive.google.com/open?id=1bB0sn4MZt

[2019-02-18 00:18] barryross commented on #724
Thank you, Leo...these descriptions and videos are SUPER helpful!

[2019-02-18 00:35] barryross commented on #725
@leobardoramon Thank you for the description and detailed PDF.  In reviewing the current setup for Wide, I am having a bit of trouble making a direct comparison b/c it seems like the devices are also bound to either "a" or "b" in the case of Wide Format.  Is this correct?

Can you please explain how the device designation of "a" or "b" correlates to the size of the paper "a" or "b"?

Thank you

[2019-02-18 00:37] barryross commented on #725
@leobardoramon Also..at what point will the admin need to designate who is making the purchase...in the "New Order Wizard"?

[2019-02-18 00:39] barryross commented on #726
Thank you for this...this will be a simple fix.

[2019-02-18 05:49] leobardoramon commented on #725
@buck0land a few questions

regarding the UI of New Order Wizard :

 it will be a drop down to select which group the client is in . is this okay ?

From coding standpoint , this would be easier to implement in Order Parameters panel ( where Service Type is selected ) . is this okay ?

regarding the UI of Admin/rapid :

This table would live above the RP Device dropdown in Admin/rapid ( so that it

[2019-02-18 05:50] barryross commented on #725
@buck0land Would the ability  to create user groups and assign % tiers which will then be applied to an entire rapid order, independent of device and/or material selection be a solution?

[2019-02-19 20:33] NYU-AMS commented on #725
Yes to all the questions bellow.

regarding the UI of New Order Wizard :

it will be a drop down to select which group the client is in . is this okay ?

From coding standpoint , this would be easier to implement in Order Parameters panel ( where Service Type is selected ) . is this okay ?

regarding the UI of Admin/rapid :

This table would live above the RP Device dropdown in Admin/rapid ( so th

[2019-02-19 20:35] NYU-AMS commented on #725
The tiers will apply to the entire order.

@buck0land Would the ability to create user groups and assign % tiers which will then be applied to an entire rapid order, independent of device and/or material selection be a solution?

[2019-02-19 23:49] barryross commented on #725
@buck0land Great!  Thank you for the answers, I'm pleased to hear this all works for you!

[2019-02-20 00:52] barryross commented on #725
@buck0land @leobardoramon So, I'm thinking through how I may need to factor in the adjusted order amount into the system and curious how this may need to be reflected site-wide.

It seems to me that is the discount/surcharge was added to each part in an order...the site-wide financials should remain accurate...basically the discount/surcharge would be reflected in the cost of parts, and orders.

I

[2019-02-20 13:04] NYU-AMS commented on #725
Good catch!   We will need the new column in orders. This data has to be tracked.

Sent from my iPhone

[2019-02-20 16:03] leobardoramon commented on #725
@barryross , @buck0land

 I'm wondering what this might looks like in different areas . Since there is already a University Status parameter for Client profile , how should this be treated ? see below :

 - Would Clients/"University Status" and Orders/"University Status" be connected in any way ?

 - Do we want to give Orders/"University Status" a different name or code ?
for example Alumni = "A"

[2019-02-20 16:12] leobardoramon opened #728 "Test Case: Orders/table - add column for cost tier"

[2019-02-21 02:52] barryross commented on #725
@buck0land Thanks!

[2019-02-21 02:59] barryross commented on #725
@leobardoramon great points/questions above.

@leobardoramon @buck0land I think Leo's first question is an important one for us to address in order to answer the rest of the questions.  Now I'm thinking that perhaps we can simply use a client's current university status.

If every order is associated with a client, and every client is already assigned to a university status, do we

a) need the abi

[2019-02-21 12:21] buck0land commented on #725
It’s A.

Sent from my iPhone

[2019-02-21 18:26] barryross commented on #725
@buck0land great, thank you for letting me know.

[2019-02-21 18:38] barryross opened #729 "Remove WideFormat from EBS"

[2019-02-21 18:39] barryross opened #730 "Invoice - Add Cost Tier Information"

[2019-03-05 20:59] barryross commented on #726
@leobardoramon has been added back to the admin tab on `contractor_barry`  branch!